*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.ap_
/*/build/
local.properties
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
.idea/
.DS_Store?
